{# vim: ts=2:sw=2:sts=2:et:ft=jinja2

Host variables file boilerplate

#}
---
{{ header_var }}
# Ansible variables
#ansible_host:
#ansible_user:
#ansible_python_interpreter:
#ansible_become_method:
#ansible_port:
#ansible_ssh_private_key_file:
#ansible_connection:
#ansible_network_os:
#ansible_network_cli_ssh_type:

# Time zone and locale
#tz:
#locale:

# Mandatory access control (SELinux, AppArmor, etc.)
#
# Set to an empty string to disable, otherwise hardcoded values are used
# according to the OS/distribution.
#mac:

# Network management daemon (NetworkManager, systemd-networkd, etc.)
#
# Onlyl applicable to Linux distributions. Use netd for Systemd's
# networkd or nm for NetworkManager.
#net_mgr:

########################################################################
